<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>WebApp1</display-name>
	<context-param> <!-- values(could be url, text etc. for servcontext, it's same for the entire 
			project -->
		<param-name>abc</param-name>
		<param-value>abc1</param-value>
	</context-param>
	<session-config>
		<session-timeout>15</session-timeout> <!-- deletes the session after inactivity of 15 sec -->
	</session-config>
	<listener>
		<listener-class>serv.ContextList</listener-class>
	</listener>
	<listener>
		<listener-class>serv.RequestListener</listener-class>
	</listener>
	<listener>
		<listener-class>countTotalUserActiveUser.CountUserListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>Serv1</servlet-name>
		<display-name>Serv1</display-name>
		<description></description>
		<servlet-class>serv.Serv1</servlet-class>
		<init-param> <!-- values for servconfig, it different for differen servlets -->
			<description></description>
			<param-name>abc</param-name>
			<param-value>abc</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ServByGeneric</servlet-name>
		<display-name>ServByGeneric</display-name>
		<description></description>
		<servlet-class>serv.ServByGeneric</servlet-class>
		<load-on-startup>1</load-on-startup> <!-- this will load the servlet regardless of request made for this servlet 
			or not, this servlet will load at the time of deployment with priority as 
			one -->
	</servlet>
	<servlet>
		<servlet-name>ServByHttp</servlet-name>
		<display-name>ServByHttp</display-name>
		<description></description>
		<servlet-class>serv.ServByHttp</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Uploading</servlet-name>
		<display-name>Uploading</display-name>
		<description></description>
		<servlet-class>serv.Uploading</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadBy3x</servlet-name>
		<display-name>UploadBy3x</display-name>
		<description></description>
		<servlet-class>serv.UploadBy3x</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Download</servlet-name>
		<display-name>Download</display-name>
		<description></description>
		<servlet-class>serv.Download</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>First</servlet-name>
		<display-name>First</display-name>
		<description></description>
		<servlet-class>countTotalUserActiveUser.First</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<display-name>Logout</display-name>
		<description></description>
		<servlet-class>countTotalUserActiveUser.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Serv1</servlet-name>
		<url-pattern>/Serv1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServByGeneric</servlet-name>
		<url-pattern>/ServByGeneric</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServByHttp</servlet-name>
		<url-pattern>/ServByHttp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Uploading</servlet-name>
		<url-pattern>/Uploading</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadBy3x</servlet-name>
		<url-pattern>/UploadBy3x</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Download</servlet-name>
		<url-pattern>/Download</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>First</servlet-name>
		<url-pattern>/First</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
